.global-data
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    margin: 20px;
    text-align: start;
}


h1,h2{
    margin: 0;
}
.mycharts-section
{
    
    max-height:100%;
    overflow-y: scroll;
    
}
.mycharts-section canvas
{
    min-height: 400px!important;
}
.table-section
{
    max-height: 100%;
    overflow-y: scroll;
}
