.global-data
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    text-align: center;
    gap:10px;
   
}

*
{
    margin: 0;
}
h2
{
    font-size: 30px;
}
.text-content
{
    cursor: pointer;
    text-align: center;
    
}
.text-content svg
{
    vertical-align: middle;
}

.text-content:hover
{
    transform: translateY(-4px);
    transition: 0.3s ease;
}

.mycharts-section
{
    
    max-height:100%;
    overflow-y: scroll;
   
}
#global-date-date
{
    color: rgba(255, 255, 255, 0.726);
}
#global-new-confirmed
{
    color:#FF8811;
}
#global-new-deaths
{
    color: red;
}
#global-total-confirmed
{
    color:#3BB273;
}
#global-total-deaths
{
    color:#090809;
}


