
.home-components-section
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap:10px;
}

.home-component
{
    min-width: 150px;
    min-height: 200px;
    background: rgba(217, 217, 217, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home-component:hover
{
    
    box-shadow: 0px 1px 14px 1px rgba(220, 220, 220, 0.4);
    transition: 0.6s ease;
    cursor: pointer;
}

.home-component svg
{
    color: white;
    font-size: 48px;
}
.home-component:hover svg 
{
    color: aqua;
    font-size: 58px;
    transition: 0.6s ease-in-out;
}
.table-notification
{
    position: absolute;
    
}
.table-page-content,.chart-page-content,.dashboard-page-content
{
    background: rgba(217, 217, 217, 0.15);
    padding: 10px;
    min-width: 80px;
    position: absolute;
    border-radius: 20px;
    display: none;
    bottom: -50px;
}
.home-component:nth-child(1):hover .table-page-content
{
    display: block ;
}
.home-component:nth-child(2):hover .chart-page-content
{
    display: block ;
}.home-component:nth-child(3):hover .dashboard-page-content
{
    display: block ;
}